@use '../presets' as *;
@use '../mixins' as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &--light {
    background-color: rgba($color-white, 0.1);
    border-color: $color-white;

    @include lg-min {
      min-width: 250px;
      min-height: 60px;
      font-size: 1.125rem;
    }
    @include lg-md {
      min-width: 200px;
      min-height: 50px;
    }
    @include md {
      min-width: 170px;
      min-height: 40px;
    }
  }

  &--primary {
    font-size: 1.125rem;
    min-height: 60px;

    background-color: rgba($color-primary, 0.8);
    border-color: $color-primary;

    @include sm-min {
      min-width: 350px;
    }

    @include sm {
      width: 100%;
    }
  }

  .visually-hidden {
    @include visually-hidden;
  }
}
