@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    padding: $gap 0;

    &__container {
    display: grid;
    align-items: center;
    gap: $gap;
    grid-template-columns: auto 1fr;

    @extend %container;
    }
}